body {
    background-color:black;
}

h1 {
    color: chartreuse
}

ol {
    color: teal;
    font-size: 20px;
}

.png {
    border-style: solid;
    border-color: rgb(179, 26, 26);
}

.source {
    font-family: 'Times New Roman', Times, serif;
    color:white
}

li {
    font-family:sans-serif;
    color:turquoise
}

.milestone {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:turquoise
}

p {
    color:lime
}

table {
    color:rgb(0, 60, 255);
    margin-left: auto;
    margin-right: auto;
    border-color: aliceblue;
    border-width: 30px;
}

.links{
    color:antiquewhite
}

footer {
    color:darkgreen
}